body{
    margin: 0;
    padding: 0;
    background-color:rgb(236, 208, 208)
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    display:flex;
    justify-content: space-around;
    align-items: flex-start;
    margin:20;
    gap:20px;}

   main{
    width:70%;
    background-color: rgb(221, 171, 153);
    padding:20px;
    border-radius: 5px;
    height: 200px;
    }
   
    aside{
        width: 25%;
    background-color: rgb(241, 141, 92);
    padding: 20px;
    border: radius 5px;
    height: 200px;
    }

    header{
     background-color: rgb(94, 49, 17);
     color: burlywood;
     text-align: center;
     padding: 20px;
    }

    nav ul{
    list-style: none;
    padding: 0;
    text-align: center;
    }

    nav ul li{
        display: inline;
        margin: 0 15px;
    }

    nav a{
        color: rgb(222, 146, 118);
        text-decoration: none;
    }
    footer{
        background-color: rgb(52, 30, 26);
        color: rgb(172, 103, 54);
        padding: 10px;
        text-align: center;
        margin-top: 20px;
    }
    
   
